<div ng-show="mPulaDetails" class="mPulaDetails">
    <h2>{{status=="new" ? "New PULA" : "Edit PULA"}}<button class="btn btn-default pull-right" ng-click="cancelEditPULA()" ng-show="status=='edit'">Cancel</button></h2>

    <uib-accordion close-others="true">
        <!--Details-->
        <uib-accordion-group heading="1. Details">
            <h4>General Information</h4>
            <table class="table table-condensed table-borderless">
                <!--Event-->
                <tr>
                    <td>Event:</td>
                    <td>
                        <select ng-model="mPulaDetails.data.event" class="form-control" ng-options="ev as ev.NAME for ev in ui.events">
                            <option value=""></option>
                        </select>
                    </td>
                </tr>
                <!--Effective Date-->
                <tr>
                    <td>Effective Date:</td>
                    <td>

                        <form class="form-inline">
                            <div class="form-group">
                                <select ng-model="mPulaDetails.data.effectiveDate.month" class="form-control" ng-options="(months.indexOf(m)+1) as m for m in months">
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select ng-model="mPulaDetails.data.effectiveDate.year" class="form-control" ng-options="y for y in effectiveYears">
                                    <option value=""></option>
                                </select>
                            </div>
                        </form>


                    </td>
                </tr>
                <!--Creation Date-->
                <tr>
                    <td>Creation Date:</td>
                    <td>{{mPulaDetails.data.creationDate}}</td>
                </tr>
                <tr>
                    <td>Created By:</td>
                    <td>{{mPulaDetails.data.creator}}</td>
                </tr>
                <!-- Expiration Date-->
                <tr>
                    <td>Expiration Date:</td>
                    <td>
                        <form class="form-inline">
                            <div class="form-group">
                                <select ng-model="mPulaDetails.data.expirationDate.month" class="form-control" ng-options="(months.indexOf(m)+1) as m for m in months">
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select ng-model="mPulaDetails.data.expirationDate.year" class="form-control" ng-options="y for y in expirationYears">
                                    <option value=""></option>
                                </select>
                            </div>
                        </form>

                    </td>
                </tr>
            </table>
        </uib-accordion-group>
        <!-- PULA Justification-->
        <uib-accordion-group heading="2. PULA Justification">

            Choose a Justification Type to set it's value
            <br>
            <!--Justification Type-->
            <table class="table table-condensed table-borderless">
                <tr>
                    <td>Justification Type</td>
                    <td>
                        <select class="form-control" ng-model="mPulaDetails.data.justificationType">
                            <optgroup ng-repeat="header in justificationTypes" label="{{ header.name }}">
                                <option ng-repeat="item in header.items" value="{{ item.value }}">{{ item.name }}</option>
                            </optgroup>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <textarea ng-model="mPulaDetails[mPulaDetails.data.justificationType]"></textarea>
                    </td>
                </tr>
                <!--Base Data-->
                <tr>
                    <td>Base Data:</td>
                    <td>
                        <textarea ng-model="mPulaDetails.BASE_DATA"></textarea>
                    </td>
                </tr>
                <!--Base Data Modifiers-->
                <tr>
                    <td>Base Data Modifiers:</td>
                    <td>
                        <textarea ng-model="mPulaDetails.BASE_DATA_MODIFIERS"></textarea>
                    </td>
                </tr>
                <!--Additional Information-->
                <tr>
                    <td>Additional Information:</td>
                    <td>
                        <textarea ng-model="mPulaDetails.ADDITIONAL_INFORMATION"></textarea>
                    </td>
                </tr>
            </table>
        </uib-accordion-group>
        <!--PULA-->
        <uib-accordion-group heading="3. PULA">

            <p>Choose an Active Ingredient to get a list of Products</p>
            <table class="table table-borderless">
                <tr>
                    <td>Active Ingredient: </td>
                    <td>
                        <select ng-model="mPulaDetails.data.activeIngredient" class="form-control" ng-options="ai as ai.INGREDIENT_NAME.substring(0, 50) for ai in ui.aiList" ng-change="getProductList()">
                            <option value=""></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Product: </td>
                    <td>
                        <select ng-model="mPulaDetails.data.product" class="form-control" ng-options="pr as pr.PRODUCT_NAME.substring(0,50) for pr in  productList">
                            <option value=""></option>
                        </select>
                    </td>
                </tr>
            </table>

            <table class="table table-condensed table-borderless">
                <tr>
                    <th>Use</th>
                    <th>Application Method</th>
                    <th>Formulation</th>
                    <th>Code</th>
                </tr>
                <tr>
                    <!--Crop Use-->
                    <td>
                        <select ng-model="mPulaDetails.data.cropUse" class="form-control" ng-options="crop as crop.USE for crop in ui.cropUseList">
                            <option value=""></option>
                        </select>
                    </td>
                    <!--Application Method-->
                    <td>
                        <select ng-model="mPulaDetails.data.applicationMethod" class="form-control" ng-options="am as am.METHOD for am in ui.applicationMethodList">
                            <option value=""></option>
                        </select>

                    </td>
                    <!--Formulation-->
                    <td>
                        <select ng-model="mPulaDetails.data.formulation" class="form-control" ng-options="form as form.FORM for form in ui.formulationList">
                            <option value=""></option>
                        </select>
                    </td>
                    <!--Code-->
                    <td>
                        <select ng-model="mPulaDetails.data.limitation" class="form-control" ng-options="limit as limit.CODE for limit in ui.limitationCodeList">
                            <option value=""></option>
                        </select>
                    </td>
                    <!--Add button-->
                    <td>
                        <button class="btn btn-primary" ng-click="addLimitation()" ng-disabled="!mPulaDetails.data.cropUse || !mPulaDetails.data.applicationMethod|| !mPulaDetails.data.formulation|| !mPulaDetails.data.limitation|| !mPulaDetails.data.activeIngredient">Add</button>
                    </td>
                </tr>
            </table>
            <div class="alert alert-warning" role="alert" ng-show="errorMsg">{{errorMsg}}</div>
            <table class="table table-striped  table-condensed">
                <thead>
                    <tr>
                        <th scope="col">AI/Product</th>
                        <th scope="col">Use</th>
                        <th scope="col"> App Method</th>
                        <th scope="col">Formulation</th>
                        <th scope="col">Code</th>
                        <th></th>
                    </tr>
                </thead>
                <tr ng-show="mPulaDetails.data.numLimits == 0">
                    <td>No limitations have been added for this PULA</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr ng-repeat="limit in mPulaDetails.data.mapperLimits|orderBy:NAME" ng-hide="limit.status=='delete'">
                    <td>{{limit.NAME}}</td>
                    <td>{{limit.USE}}</td>
                    <td>{{limit.APPMETHOD}}</td>
                    <td>{{limit.FORM}}</td>
                    <td>{{limit.CODE}}</td>
                    <td>
                        <button class="btn btn-danger btn-xs" ng-click="removeMapperLimit($index)"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
            </table>
        </uib-accordion-group>
        <uib-accordion-group heading="4. Species">
            <!--        <h4>Species</h4>-->
            <p>Choose a Group to get a narrowed down Species list.</p>
            <table class="table table-condensed table-borderless">

                <tr>
                    <td>Scientific Name: </td>
                    <td>
                        <select ng-model="mPulaDetails.data.newSpecies" class="form-control" ng-options="item as item.SCINAME for item in species|orderBy:SCINAME">
                            <option value=""></option>
                        </select>
                        <!--
                        <select class="form-control" ng-model="selected.species">
                            <option ng-repeat="item in species|orderBy:SCINAME" value="{{item}}">{{item.SCINAME}} | {{item.COMNAME}} | {{item.ENTITY_ID}}</option>
                        </select>
-->
                    </td>
                </tr>
                <tr>
                    <td>Common Name: </td>
                    <td>

                        <select ng-model="mPulaDetails.data.newSpecies" class="form-control" ng-options="item as item.COMNAME for item in species|orderBy:COMNAME">
                            <option value=""></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Entity ID: </td>
                    <td>
                        <select ng-model="mPulaDetails.data.newSpecies" class="form-control" ng-options="item as item.ENTITY_ID for item in species|orderBy:ENTITY_ID">
                            <option value=""></option>
                        </select>
                    </td>
                </tr>

            </table>

            <button class="btn btn-primary btn-sm" ng-disabled="!mPulaDetails.data.newSpecies" ng-click="addSpecies()">Add</button>
            <table class="table table-striped  table-condensed">
                <thead>
                    <tr>
                        <th scope="col">Scientific Name</th>
                        <th scope="col">Common Name</th>
                        <th scope="col"> URL</th>
                        <th></th>
                    </tr>
                </thead>
                <tr ng-show="mPulaDetails.data.numSpecies == 0">
                    <td>No species have been added for this PULA</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr ng-repeat="species in mPulaDetails.data.speciesList" ng-hide="species.status=='delete'">

                    <td>{{species.SCINAME}}</td>
                    <td>{{species.COMNAME}}</td>
                    <td><a href="http://ecos.fws.gov/speciesProfile/profile/speciesProfile?spcode={{species.SPCODE}}">(Link to Species Profile page)</a></td>
                    <td>
                        <button class="btn btn-danger btn-xs" ng-click="removeSpecies($index)"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
            </table>

        </uib-accordion-group>
        <!-- Edit PULA,Contributor Password, Publish PULA-->
        <uib-accordion-group heading="5. View Summary and Save">
            <small>
            <div class="panel">
                <div class="panel-body">
                    <!--Summary-->
                    <h4>General Information</h4>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4"><b>Event:</b></div>
                        <div class="col-xs-8 col-sm-8 col-md-4">{{mPulaDetails.data.event.NAME}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4"><b>Effective Date:</b></div>
                        <div class="col-xs-8 col-sm-8 col-md-4">{{mPulaDetails.data.effectiveDate.month}}/01/{{mPulaDetails.data.effectiveDate.year}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4"><b>Creation Date:</b></div>
                        <div class="col-xs-8 col-sm-8 col-md-4">{{mPulaDetails.data.creationDate}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4"><b>Created By:</b></div>
                        <div class="col-xs-8 col-sm-8 col-md-4">{{mPulaDetails.data.creator}}</div>
                    </div>
                    <div class="row" ng-show="mPulaDetails.data.expirationDate">
                        <div class="col-xs-4 col-sm-4 col-md-4"><b>Expiration Date:</b></div>
                        <div class="col-xs-8 col-sm-8 col-md-4">{{mPulaDetails.data.expirationDate.month}}/01/{{mPulaDetails.data.expirationDate.year}}</div>
                    </div>
                    <h4>Justification</h4>
                    <!--Other-->
                    <div class="row" ng-if="mPulaDetails.OTHER_JUSTIFICATION">
                        <div class="col-xs-4 col-sm-4 col-md-4"><b>Other:</b></div>
                        <div class="col-xs-8 col-sm-8 col-md-4">{{mPulaDetails.OTHER_JUSTIFICATION}}</div>
                    </div>
                    <!--Litigation-->
                    <div class="row" ng-if="mPulaDetails.BIOLOGICAL_OPINION_LIT">
                        <div class="col-xs-4 col-sm-4 col-md-4"><b>Litigation, Biological Opinion:</b></div>
                        <div class="col-xs-8 col-sm-8 col-md-4">{{mPulaDetails.BIOLOGICAL_OPINION_LIT}}</div>
                    </div>
                    <!--Registration Review-->
                    <div class="row" ng-if="mPulaDetails.FOCUS_MEETING">
                        <div class="col-xs-4 col-sm-4 col-md-4"><b>Registration Review, Focus Meeting:</b></div>
                        <div class="col-xs-8 col-sm-8 col-md-4">{{mPulaDetails.FOCUS_MEETING}}</div>
                    </div>
                    <div class="row" ng-if="mPulaDetails.BIOLOGICAL_OPINION_REGREVIEW">
                        <div class="col-xs-4 col-sm-4 col-md-4"><b>Registration Review, Biological Opinion:</b></div>
                        <div class="col-xs-8 col-sm-8 col-md-4">{{mPulaDetails.BIOLOGICAL_OPINION_REGREVIEW}}</div>
                    </div>
                    <div class="row" ng-if="mPulaDetails.PROPOSED_DECISION">
                        <div class="col-xs-4 col-sm-4 col-md-4"><b>Registration Review, Proposed Decision:</b></div>
                        <div class="col-xs-8 col-sm-8 col-md-4">{{mPulaDetails.PROPOSED_DECISION}}</div>
                    </div>
                    <div class="row" ng-if="mPulaDetails.INTERIM_DECISION">
                        <div class="col-xs-4 col-sm-4 col-md-4"><b>Registration Review, Interim Decision:</b></div>
                        <div class="col-xs-8 col-sm-8 col-md-4">{{mPulaDetails.INTERIM_DECISION}}</div>
                    </div>
                    <div class="row" ng-if="mPulaDetails.FINAL_DECISION">
                        <div class="col-xs-4 col-sm-4 col-md-4"><b>Registration Review, Final Decision:</b></div>
                        <div class="col-xs-8 col-sm-8 col-md-4">{{mPulaDetails.FINAL_DECISION}}</div>
                    </div>
                    <div class="row" ng-if="mPulaDetails.INTERIM_PROPOSED_DECISION">
                        <div class="col-xs-4 col-sm-4 col-md-4"><b>Registration Review, Proposed Interim Decision:</b></div>
                        <div class="col-xs-8 col-sm-8 col-md-4">{{mPulaDetails.INTERIM_PROPOSED_DECISION}}</div>
                    </div>
                    <!--Registration Action-->
                    <div class="row" ng-if="mPulaDetails.SEC3_NEWCHEM">
                        <div class="col-xs-4 col-sm-4 col-md-4"><b>Registration Action, Section 3 New Chem:</b></div>
                        <div class="col-xs-8 col-sm-8 col-md-4">{{mPulaDetails.SEC3_NEWCHEM}}</div>
                    </div>
                    <div class="row" ng-if="mPulaDetails.SEC3_NEWUSE">
                        <div class="col-xs-4 col-sm-4 col-md-4"><b>Registration Action, Section 3 New Use:</b></div>
                        <div class="col-xs-8 col-sm-8 col-md-4">{{mPulaDetails.SEC3_NEWUSE}}</div>
                    </div>
                    <div class="row" ng-if="mPulaDetails.SEC24">
                        <div class="col-xs-4 col-sm-4 col-md-4"><b>Registration Action, Section 24 (c):</b></div>
                        <div class="col-xs-8 col-sm-8 col-md-4">{{mPulaDetails.SEC24}}</div>
                    </div>
                    <div class="row" ng-if="mPulaDetails.SEC18">
                        <div class="col-xs-4 col-sm-4 col-md-4"><b>Registration Action, Section 18 (c):</b></div>
                        <div class="col-xs-8 col-sm-8 col-md-4">{{mPulaDetails.SEC18}}</div>
                    </div>
                    <!--Base data-->
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4"><b>Base Data:</b></div>
                        <div class="col-xs-8 col-sm-8 col-md-4">{{mPulaDetails.BASE_DATA}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4"><b>Base Data Modifiers:</b></div>
                        <div class="col-xs-8 col-sm-8 col-md-4">{{mPulaDetails.BASE_DATA_MODIFIERS}}</div>
                    </div>
                    <!--additioanl info-->
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4"><b>Additional Information:</b></div>
                        <div class="col-xs-8 col-sm-8 col-md-4">{{mPulaDetails.ADDITIONAL_INFORMATION}}</div>
                    </div>
                    <!--limitations-->
                    <h4>Limitations</h4>
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                <th scope="col">AI/Product</th>
                                <th scope="col">Use</th>
                                <th scope="col"> App Method</th>
                                <th scope="col">Formulation</th>
                                <th scope="col">Code</th>                                
                            </tr>
                        </thead>
                        <tr ng-show="mPulaDetails.data.numLimits == 0">
                            <td>No limitations have been added for this PULA</td>
                            <td></td>
                            <td></td><td></td><td></td><td></td>
                        </tr>
                        <tr ng-repeat="limit in mPulaDetails.data.mapperLimits|orderBy:NAME" ng-hide="limit.status=='delete'">
                            <td>{{limit.NAME}}</td>
                            <td>{{limit.USE}}</td>
                            <td>{{limit.APPMETHOD}}</td>
                            <td>{{limit.FORM}}</td>
                            <td>{{limit.CODE}}</td>
                        </tr>
                    </table>
                    <!--species-->
                    <h4>Species</h4>
                    <table class="table table-striped  table-condensed">
                        <thead>
                            <tr>
                                <th scope="col">Scientific Name</th>
                                <th scope="col">Common Name</th>
                                <th scope="col"> URL</th>
                            </tr>
                        </thead>
                        <tr ng-show="mPulaDetails.data.numSpecies == 0">
                            <td>No species have been added for this PULA</td>
                            <td></td>
                    <td></td>
                    <td></td>
                        </tr>
                        <tr ng-repeat="species in mPulaDetails.data.speciesList|orderBy:'COMNAME'" ng-hide="species.status=='delete'">

                            <td>{{species.SCINAME}}</td>
                            <td>{{species.COMNAME}}</td>
                            <td><a href="http://ecos.fws.gov/speciesProfile/profile/speciesProfile?spcode={{species.SPCODE}}">(Link to Species Profile page)</a></td>
                        </tr>
                    </table>
                    <!--error-->
                    <br>
                    <div class="alert alert-warning" role="alert" ng-show="mPulaDetails.data.errors.length > 0">
                        <ul>
                            <li ng-repeat="error in mPulaDetails.data.errors track by $index">{{error}}</li>
                        </ul>
                    </div>
                    <hr>
                    <!--Save PULA-->
                    <div ng-show="role.ROLE_ID <= 2">
                        <button class="btn btn-primary" ng-click="savePULA()">Save Changes</button>
                    </div>
                </div>
                </div></small>
        </uib-accordion-group>
    </uib-accordion>
</div>