<div>
    <div class="container-fluid">
        <button class="btn btn-primary" ng-click="editUser(-1)" ng-if="role.ROLE_NAME == 'ADMIN'"><span class="glyphicon glyphicon-plus"></span> New User</button>
        <br/>
        <br/>

        <div class="panel panel-default panel-table">
            <table id="MemberListTable-a" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Organization</th>
                        <th scope="col">Role</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Email</th>
                        <th ng-if="role.ROLE_NAME == 'ADMIN'">Edit</th>
                        <th ng-if="role.ROLE_NAME == 'ADMIN'">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users">
                        <td>{{user.FNAME}} {{user.LNAME}}</td>
                        <td>{{organizations[user.ORGANIZATION_ID].NAME}}</td>
                        <td>{{roles[user.ROLE_ID].ROLE_NAME}}</td>
                        <td>{{user.PHONE}}</td>
                        <td>{{user.EMAIL}}</td>
                        <td ng-if="role.ROLE_NAME == 'ADMIN'">
                            <button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil" ng-click="editUser($index)"></span></button>

                        </td>
                        <td ng-if="role.ROLE_NAME == 'ADMIN'">
                            <button class="btn btn-danger btn-xs" ng-click="deleteUser($index)"><span class="glyphicon glyphicon-trash"></span></button>

                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>
<!--edit template-->
<div>
    <script type="text/ng-template" id="user.cshtml">
        <div class="modal-header">
            <h3 class="modal-title">{{editForm.title}}</h3>
        </div>
        <div class="modal-body">

            <form class="form-horizontal" name="userForm">
                <!--first name-->
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-2 control-label">First Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPassword" placeholder="First Name" ng-model="user.FNAME">
                    </div>
                </div>
                <!--last name-->
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-2 control-label">Last Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPassword" placeholder="Last Name" ng-model="user.LNAME">
                    </div>
                </div>
                <!--user name-->
                <div class="form-group" ng-class="{ 'has-error' : editForm.submited && userForm.username.$invalid  }" ng-hide="user.USERNAME">
                    <label for="inputPassword" class="col-sm-2 control-label">User Name*</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPassword" placeholder="User Name" name="username" ng-model="user.USERNAME" required="">
                        <p ng-show="submited && userForm.username.$invalid " class="help-block">Username is required.</p>
                    </div>

                </div>
                <div class="form-group" ng-show="user.USERNAME">
                    <label for="inputPassword" class="col-sm-2 control-label">User Name</label>
                    <div class="col-sm-10">
                        <p>{{user.USERNAME}}</p>
                    </div>
                </div>
                <!--organization-->
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-2 control-label">Organization</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="data.organization" ng-options="org.NAME for org in organizations" ng-change="user.ORGANIZATION_ID = org.ORGANIZATION_ID">
                            <option value="">Select Organization</option>
                        </select>
                    </div>
                </div>
                <!--division-->
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-2 control-label">Division</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="data.division" ng-options="division.DIVISION_NAME for division in divisions" ng-change="user.DIVISION_ID = division.DIVISION_ID">
                            <option value="">Select Division</option>
                        </select>
                    </div>
                </div>
                <!--role-->
                <div class="form-group" ng-class="{ 'has-error' : editForm.submited && userForm.role.$invalid }" ng-hide="user.ROLE_ID">
                    <label for="inputPassword" class="col-sm-2 control-label">Role*</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="role" ng-model="data.role" ng-options="role.ROLE_NAME for role in roles" ng-change="user.ROLE_ID = role.ROLE_ID" required="">
                            <option value="">Select Role</option>
                        </select>
                        <p ng-show="submited && userForm.role.$invalid" class="help-block">Role is required.</p>
                    </div>
                </div>
                <div class="form-group" ng-show="user.ROLE_ID">
                    <label for="inputPassword" class="col-sm-2 control-label">Role</label>
                    <div class="col-sm-10">
                        <p>{{data.role.ROLE_NAME}}</p>
                    </div>
                </div>
                <!--phone-->
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-2 control-label">Phone</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPassword" placeholder="Phone" ng-model="user.PHONE">
                    </div>
                </div>
                <!--email-->
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPassword" placeholder="Email" ng-model="user.EMAIL">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit" ng-click="save(userForm.$valid)">OK</button>
            <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    <!--delete templates-->
    <script type="text/ng-template" id="delete.cshtml">
        <div class="modal-header">
            <h3 class="modal-title">Are you sure you want to delete '{{user.USERNAME}}'?</h3>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="delete()">OK</button>
            <button class="btn btn-default" type="button" ng-click="cancelDelete()">Cancel</button>
        </div>
    </script>
</div>