<div class="modal-header">
    <h3 class="modal-title">{{editForm.title}} </h3>
</div>
<div class="modal-body">
    <form name="partForm">


        <!--AI Name-->
        <div class="row form-group">
            <label class="col-sm-2 control-label">AI Name </label>
            <div class="col-sm-10">
                <input type="text" name="ingredient_name" class="form-control" ng-model="part.ingredient_name" ng-required="false">
            </div>
        </div>
        <!--PC Code-->
        <div class="row form-group">
            <label class="col-sm-2 control-label">PC Code * </label>
            <div class="col-sm-10">
                <input type="text" name="pc_code" class="form-control" ng-model="part.pc_code" ng-required="true">
                <p ng-show="editForm.submited && partForm.pc_code.$invalid " class="text-danger">* PC Code is required.</p>
            </div>
        </div>

        <!--CAS Number-->
        <div class="row form-group">
            <label class="col-sm-2 control-label">CAS Number </label>
            <div class="col-sm-10">
                <input type="text" name="cas_number" class="form-control" ng-model="part.cas_number" ng-required="false">
            </div>
        </div>

        <!--AI Class-->
        <div class="row form-group">
            <label class="col-sm-2 control-label">AI Class </label>
            <div class="col-sm-10">
                <div class="form-inline">
                    <div class="form-group">
                        <select class="form-control" ng-model="activeAIClass" ng-options="option.ai_class_name for option in aiClasses">
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn" ng-click="addClassToAI(activeAIClass)">Add</button>
                    </div>
                </div>
                <!--                <p>(Choose AI Class, Click Add. Can add one to many.)</p>-->
                <br>
                <div class="panel panel-default panel-table">
                    <table class="table table-condensed table-striped small">
                        <thead>
                            <tr>
                                <th scope="col">AI Classes associated with this Active Ingredient</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tr ng-repeat="item in classList" ng-hide="item.status=='delete'">
                            <td>{{item.ai_class_name}}</td>
                            <td>
                                <button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove" ng-click="removeClass(item.ai_class_name)"></span></button>

                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <!--Product-->
        <div class="row form-group">
            <label class="col-sm-2 control-label">Product</label>
            <div class="col-sm-10">
                <!--Search for products to add-->
                <div class="form-inline">
                    <div class="form-group">
                        <input type="text" ng-model="search.product.term" class="form-control" placeholder="Enter a term to search">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success btn-sm" ng-click="searchProductsForAI(search.product.term)" ng-disabled="search.product.term.length < 3"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                    <div class="form-group">
                        <span class="glyphicon glyphicon-refresh" ng-show="showProductLoading"></span>
                        <button class="btn btn-link" ng-click="search.product.term=''">Clear</button>
                    </div>
                </div>
                <br>
                <!--show product search results-->
                <div class="panel panel-default panel-table">
                    <table class="table table-striped small">
                        <thead>
                            <tr>
                                <th scope="col">Product Search Results</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="product in products|orderBy:product_name|filter:search.product.term|itemsPerPage:5" current-page="currentProductPage" pagination-id="product">
                                <td>{{product.product_name}}</td>
                                <td>
                                    <button class="btn btn-xs" ng-click="addProductToAI(product)"><span class="glyphicon glyphicon-plus"></span></button>

                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" pagination-id="product">
                    </dir-pagination-controls>
                </div>
                <br>
                <!--show products associated with this AI-->
                <div class="panel panel-default panel-table">
                    <table class="table table-condensed table-striped small">
                        <thead>
                            <tr>
                                <th scope="col">Products associated with this Active Ingredient</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tr ng-repeat="item in productList" ng-hide="item.status=='delete'">
                            <td>{{item.product_name}}</td>
                            <td>
                                <button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove" ng-click="removeProduct(item.product_name)"></span></button>

                            </td>
                            <!--
                            <td>
                                <a class="text-danger">
                                    <span class="glyphicon glyphicon-remove" ng-click="removeProduct(item.product_name)">
                                </a>                                    
                            </td>
-->
                        </tr>
                    </table>
                </div>
            </div>
        </div>


    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-click="save(partForm.$valid)">OK</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>